.gradle/
build/
local.properties
*.iml
.idea/
.DS_Store
/app/build/
*.jks
*.keystore
key.properties
fdroid/repo/
fdroid/archive/
bugreport-insertabot-2026-08-25-04-51-26-ce22e72b-80db-4fe9-88ed-2ee8c3e1c8d9/avd_details.txt
bugreport-insertabot-2026-08-25-04-51-26-ce22e72b-80db-4fe9-88ed-2ee8c3e1c8d9/bugreport.zip
bugreport-insertabot-2026-08-25-04-51-26-ce22e72b-80db-4fe9-88ed-2ee8c3e1c8d9/screenshot.png
